@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root{
    --first-colour:#111111;
    --first-colour-dark:#000000;
    --first-colour-light:#A49EAC;
    --first-colour-lighten:#F2F2F2;
    --bfont: 'Poppins', sans-serif;
    --h1size:1.5rem;
    --nfont:.938rem;
    --sfont:.813rem;
}

@media screen and (min-width:768px){
    :root{
        --nfont:1rem;
        --sfont:.875rem;
    }
}

*,::before,::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--bfont);
    font-size: var(--nfont);
    color: var(--first-colour);
    background-color: var(--first-colour-lighten);
}

h1{
    margin: 0;
}

a{
    text-decoration: none;
}

image{
    max-width: 100%;
    height: auto;
    display: block;
}

.logo1{
    width: 100px;
    height: 50px;
}

.login{
    display: grid;
    grid-template-columns: 100%;
    height: 100vh;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.login-cont{
    display: grid;
}

.login-img{
    justify-self: center;
}

.login-img img{
    width: 310px;
    margin-top: 1.5rem;
}

.login-form{
    position: relative;
    height: 368px;
}

.login-reg, .login-create{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    background-color: var(--first-colour-lighten);
    padding: 2rem 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(35, 0, 77, .2);
    animation-duration: .4s;
    animation-name: aniimate-login;
}

@keyframes animate-login{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.1,1.1);
    }
    100%{
        transform: scale(1,1);
    }
}

.login-tit{
    font-size: var(--h1size);
    margin-bottom: 2rem;
}

.login-box{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: .5rem;
    padding: 1.125rem 1rem;
    background-color: #ffffff;
    margin-top: 1rem;
    border-radius: .5rem;
}

.login-ico{
    font-size: 1.5rem;
    color: var(--first-colour);
}

.login-inp{
    border: none;
    outline: none;
    font-size: var(--nfont);
    font-weight: 700;
    color: var(--first-colour-dark);
}

.login-inp::placeholder{
    font-size: var(--nfont);
    font-family: var(--bfont);
    color: var(--first-colour-light);
}

.login-for{
    display: block;
    width: max-content;
    margin-left: 95px;
    margin-top: .5rem;
    font-size: var(--sfont);
    font-weight: 600;
    color: var(--first-colour-light);
}

.login-but{
    display: block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: var(--first-colour);
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    border-radius: .5rem;
    transition: .3s;
}

.login-but:hover{
    background-color: var(--first-colour-dark);
}

.login-acc{
    font-weight: 600;
    font-size: var(--sfont);
    color: var(--first-colour-dark);
    cursor: pointer;
}

.login-social{
    margin-top: 2rem;
}

.login-social-ico{
    font-size: 1.5rem;
    color: var(--first-colour-dark);
    margin: 0 1.5rem;
}

.block{
    display: block;
}

.none{
    display: none;
}


@media screen and (min-width: 574px){
    .login-form{
        width: 348px;
        justify-self: center;

    }
}

@media screen and (min-width:1024px){
    .login{
        height: 100vh;
        overflow: hidden;
    }

    .login-cont{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        align-items: center;
        margin-left: 10rem;
    }

    .login-img{
        display: flex;
        width: 600px;
        height: 588px;
        background-color: var(--first-colour-lighten);
        border-radius: 1rem;
        padding-left: 1rem;
    }

    .login-img img{
        width: 390px;
        margin-top: 0;
    }

    .login-reg,.login-create{
        left: -11rem;
    }
    .login-reg{
        bottom: -6.5rem;
    }
    .login-create{
        bottom:-9.5rem;
    }
}
