<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <meta name="description" content="This Site is all about shoes whichever you want.. World's largest collection of shoes which would make go WOW!!!">
        <meta name="keywords" content="HTML, CSS, JavaScript, Shoes, Shoe Mart, Shoes Mart, E-commerece, E-shop, online store, Project, Live Project, Demo Project">
        <meta name="author" content="AKSHAT JAIN">
        {% load static %}
        <link rel="stylesheet" href="{% static '/css/main.css' %}">
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <title>THE ALPHA MART</title>
        <link rel="icon" href="./images/The ALPHA MART.png">
    </head>
    
    <body>
        <header class="head1" id="header">
            <nav class="nav bd-grid">
                <div class="nav-toggle" id="nav-toggle">
                    <i class='bx bx-grid-alt' ></i>
                </div>
                <a href="/" class="nav-logo"><img src="{% static '/images/logo.png' %}"></a>
                <div class="nav-menu" id="nav-menu">
                    <ul class="nav-list">
                        <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
                        <li class="nav-item"><a href="#FEATURED" class="nav-link">FEATURED</a></li>
                        <li class="nav-item"><a href="#WOMEN" class="nav-link">WOMEN</a></li>
                        <li class="nav-item"><a href="#NEW" class="nav-link">NEW</a></li>
                        <li class="nav-item"><a href="/shop/" class="nav-link active">SHOP</a></li>
                        {% if user.is_authenticated %}
                        <a class="btn btn-outline-dark" href="/handlelogout/" role="button">Logout</a>
                        {% else %}
                        <li class="nav-item"><a href="/handlelogin/" class="nav-link">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% if user.is_authenticated %}
                <div class="nav-shop">
                    <i class='bx bx-shopping-bag' ></i>
                </div>
                {% endif %}
            </nav>
        </header>
        <main class="main1">
            <section class="featured section" id="SHOP">
                <h2 class="section-title">ALL PRODUCTS</h2>
                <div class="featured-container bd-grid">
                    <article class="sneaker">
                        <img src="{% static '/images/featured1.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE Jordan</span>
                        <span class="sneaker-price">Rs.11000</span>
                        <a href="/product/jordan/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>
                    
                    <article class="sneaker">
                        <img src="{% static '/images/featured2.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE Free Runer</span>
                        <span class="sneaker-price">Rs.13000</span>
                        <a href="/product/freerun/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/featured3.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE Free RN 2</span>
                        <span class="sneaker-price">Rs.17000</span>
                        <a href="/product/free/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/new2.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE SPLY</span>
                        <span class="sneaker-price">Rs.8000</span>
                        <a href="/product/ori/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/new1.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE SPLY</span>
                        <span class="sneaker-price">Rs.7000</span>
                        <a href="/product/eleven/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/new3.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE SPLY</span>
                        <span class="sneaker-price">Rs.9000</span>
                        <a href="/product/black/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/new4.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE SPLY</span>
                        <span class="sneaker-price">Rs.6000</span>
                        <a href="/product/grey/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/new5.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE SPLY</span>
                        <span class="sneaker-price">Rs.5000</span>
                        <a href="/product/white/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/women1.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE Air Force 1</span>
                        <span class="sneaker-price">Rs.9000</span>
                        <a href="/product/second/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/women2.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE ACE Summerlite</span>
                        <span class="sneaker-price">Rs.12000</span>
                        <a href="/product/first/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/women4.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE GS Pink</span>
                        <span class="sneaker-price">Rs.5000</span>
                        <a href="/product/gspink/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>

                    <article class="sneaker">
                        <img src="{% static '/images/women3.png' %}" alt="" class="sneaker-img">
                        <span class="sneaker-name">NIKE Get 5</span>
                        <span class="sneaker-price">Rs.13000</span>
                        <a href="/product/five/" class="button-light">ADD TO CART<i class='bx bx-right-arrow-alt button-icon'></i></a>
                    </article>
                </div>
                <div class="sneaker-pages bd-grid">
                    <span class="sneaker-pag">1</span>
                    <span class="sneaker-pag">2</span>
                    <span class="sneaker-pag">3</span>
                    <span class="sneaker-pag">4</span>
                    <span class="sneaker-pag">&#8594;</span>
                </div>
            </section>
        </main>
        <footer class="footer section">
            <div class="footer-conatiner bd-grid">
                <div class="footer-box">
                    <h3 class="footer-title">THE ALPHA MART</h3>
               <p class="footer-desc">New Collection of Shoes 2021</p>
                </div> 
            
                <div class="footer-box">
                    <h3 class="footer-title">EXPLORE</h3>
                    <ul>
                        <li><a href="#HOME" class="footer-link">HOME</a></li>
                        <li><a href="#FEATURED" class="footer-link">Featured</a></li>
                        <li><a href="#WOMEN" class="footer-link">Women</a></li>
                        <li><a href="#NEW" class="footer-link">New</a></li>
                    </ul> 
                </div>

                <div class="footer-box">
                    <h3 class="footer-title">SUPPORT</h3>
                    <ul>
                        <li><a href="#" class="footer-link">Product Help</a></li>
                        <li><a href="#" class="footer-link">Customer Care</a></li>
                        <li><a href="#" class="footer-link">Authorized Store</a></li>
                    </ul> 
                </div>

                <div class="footer-box">
                    <a href="https://www.facebook.com/ajain112ftv/" class="footer-social"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com/ajain112/" class="footer-social"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://twitter.com/a_jain112" class="footer-social"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://www.youtube.com/c/FashionableTechVision" class="footer-social"><i class='bx bxl-youtube' ></i></a>
                </div>
            </div> 
            <p class="footer-copy">&#169; All rights reserved. Akshat Jain</p>
        </footer>
     <script src="{% static '/js/script.js' %}"></script>
    </body>
</html>